# ===============================
# Node / Express
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Build / Dist
# ===============================
dist/
build/

# ===============================
# MongoDB
# ===============================
data/
dump/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Certificates / Secrets
# ===============================
*.pem
*.key
*.crt
